body {

    background-color: #eeeeee;

}

header {

    background-color: brown;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

p {

    color: blueviolet;

}

nav {

    background-color: aqua;

    position: sticky;

    top: 0;

    z-index: 2;

    display: flex;

    justify-content: center;

}

header {

    background-color: blue;

}

#intro {

    background-color: rgb(231, 139, 231);

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

}

.main-section-content h2 {

    background-color: bisque;

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

    padding: 5px;

    font-size: 24px;

    margin-bottom: 50px;

}

#best-seller {

    background-color: lightyellow;

}

header,

nav,

#intro,

#best-seller,

.main-section-content {

    border: 1px solid black;

}

h1 {

    color: ghostwhite;

    font-size: 50px;

    font-family: Arial, Helvetica, sans-serif;

    margin: 30px;

}

h2,
p {

    color: #333333;

}

table,
th,
td {

    border: 1px solid black;

}

tr:last-child {

    color: red
}

span {

    color: blue
}

footer p:first-child {

    color: red;

}

.member-info {

    border-radius: 5px;

    margin: 10px;

    width: 400px;

    box-shadow: 6px 0px 21px -3px #333333;

    display: flex;

    align-items: center;

    justify-content: center;

}

button {

    background-color: red;

    color: aliceblue;

    font-size: 20px;

    font-weight: bold;

    padding: 5px;

    border-radius: 5px;

    position: fixed;

    right: 50px;

    bottom: 40px;

}

ul {

    list-style-type: none;

}

li a {

    text-decoration: none;

    color: #333333;

    font-size: 20px;

    font-weight: 600;

}

li a:hover {

    color: red;

}

p {

    font-size: 18px;

}

h3 {

    font-size: 20px;

    font-family: Arial, Helvetica, sans-serif;

    text-decoration: underline;

}

nav li {

    margin: 10px;

    padding: 5px;

    border: 1px solid;

    border-radius: 5px;

}

.member-info div:last-child {

    margin-left: 50px;

}

.main-section-content {

    padding: 20px;

}

table {

    margin: auto;

}

th,
td {

    padding: 10px;

}

footer {

    padding: 20px;

    display: flex;

    justify-content: space-around;

    align-items: center;

}

#best-seller {

    padding: 20px;

}

ol li {

    margin-bottom: 20px;

}

#book-review p,

#book-review h3 {

    position: relative;

    left: 40%;

    width: 400px;

}

#video {

    display: flex;

    justify-content: space-around;

}

#member {

    display: flex;

    justify-content: center;

    align-items: center;

}

nav ul {

    display: flex;

    justify-content: space-between;

}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
#intro{
    grid-area: intro;
}
.main-section-content{
    grid-area: mainsection;
}
#best-seller{
    grid-area: bestseller;
}
footer{
    grid-area: footer;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
grid-template-areas:
header header header header intro 
nav nav nav nav intro
mainsection mainsection mainsection mainsection bestseller
footer footer footer footer footer;
}
